<%= form_for(@Bouquets) do |f| %>
  <% if @Bouquets.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@Bouquets.errors.count, "error") %> prohibited this bouquet from being saved:</h2>

      <ul>
      <% @Bouquets.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<table class="table">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :number_of_flowers %><br />
    <%= f.text_field :number_of_flowers %>
  </div>
      
      <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
     

  <div class="actions">
    <%= f.submit %>
  </div>
  </table>
<% end %>
