<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @child.name %>
</p>


<p>
  <b>Age:</b>
  <%= @child.age %>
</p>

<p>
  <b>Name of mother:</b>
  <%= @child.mother1.name %>
</p>

<%= link_to 'Edit', edit_child_path(@child),  :class=>"btn btn-danger"%>
<%= link_to 'Back', children_path,  :class=>"btn btn-danger"%>
